body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(244, 244, 244);
}
/*header atas*/
.header ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px ;
    float: right;
  }
.header{
    background-color: rgb(23, 192, 214);
}
a {
    background-color: rgb(244, 244, 235);
}
li {
    display:inline;
}

.background-gambar {
    background-image: url(https://akcdn.detik.net.id/community/media/visual/2022/04/26/pesona-tugu-jogja-lewat-lukisan-cahaya-3_169.jpeg?w=700&q=90);

}
    

h1 {
    color :rgb(223, 46, 46);
}

p {
    color:white;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(16, 88, 16);
}